@charset "utf-8";
/* CSS Document */

.titulo{
	font-size: 30px;
	color: #3568A5;
	text-align: center;
	padding-top: 150px;
}
.contenedor_section{
	display: flex;
	flex-wrap: wrap;
}

.parrafo{
	color: #5F5F5F;
	font-size: 30px;
	text-align: center;
}
.barradivisora{
	display: block;
    margin-left: inherit;
	margin-right: auto;
	align-content: center
}
.titulolugar{
	text-align: center;
	font-size: 20px;
}
.parrafolugar{
	font-size: 15px;
}
.Candelaria{
	display: flex;
	flex-wrap: wrap;
	width: 530px;
	padding: 65px;
	margin: auto;
	margin-top: 70px;
	box-shadow: 0px 0px 15px 0px #C3C3C3;	
}
.vermas{
	margin-left: 150px;
}
.contenedor_aside{
	margin-top: 30px;
	
}
body {
  margin: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

a {
  color: white;
}
section{
	margin: auto;
}

/* header */

.header {
  background-color: #3568A5;
  box-shadow: 1px 1px 4px 0 ;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #3568A5;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #2C588C;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: black;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #FFFFFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 60px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height:none;
  }
  .header .menu-icon {
    display:none;
  }
}
.logo{
	width: 70px;
	margin-left: 6%;
}
.piedepagina{
	width: 100%;
	height: auto;
	background: #3568A5;
	color: white;
	display: flex;
	flex-wrap: wrap;
    margin-top: 60px;
}
.texto-piedepagina{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 15px;
	
}
.logo-gaia{
	width: 40px;
	margin: auto;
}
.redes-sociales{
	margin: auto;
	display: flex;
	font-size: 15px;
}
.redes-personalizadas{
	padding: 4%;
}
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  box-sizing:border-box;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 50px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

